* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: color-change-2x 10s linear infinite alternate both;
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 90vh;
    overflow-x: hidden;
    padding-bottom: 40px;
}

header {
    font-size: 1.5rem;
    margin-top: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    position: fixed;
    BOTTOM: 0;
    height: 30px;
    color: rgb(225, 225, 225);
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i {
    color: #f7df1e;
    font-size: 1.5rem;
    margin: 0 5px;
}

footer a {
    color: rgb(225, 225, 225);
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    color: white;
}

form {
    min-height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    min-width: 30vw;
    margin: 7px;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0;
    background: white;
}

form button {
    padding: 0.45rem;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

form button {
    color: #4219a2;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    transform: translateX(-14px);
}

form button:hover {
    background: #4119a0;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input {
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: .5rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease;
    padding: 0.5rem;
    border-radius: 5px;
}

.todo li {
    flex: 1;
    max-width: 80vw;
}

.todo-text {
    display: block;
    word-wrap: break-word;
}

.trash-btn,
.complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 2px;
    transition: all 0.1s ease-in-out;
}

.trash-btn:hover,
.complete-btn:hover {
    transform: scale(1.1);
    background: #c45536;
}

.complete-btn {
    background: rgb(100, 192, 100);
}

.complete-btn:hover {
    background-color: rgb(64, 131, 64);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
    transform: scale(0.9);
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #4219a2;
    width: 10rem;
    cursor: pointer;
    padding: .75rem;
    font-size: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #4219a2;
    top: 0;
    right: 0;
    padding: .65rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: #4219a2;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    text-shadow: red .05rem .05rem;
}


/* animations */

.fade-in-bottom {
    -webkit-animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1.000) both;
    animation: fade-in-bottom .6s cubic-bezier(.39, .575, .565, 1.000) both
}

.shake-horizontal {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.slide-out-elliptic-left-bck {
    -webkit-animation: slide-out-elliptic-left-bck .7s ease-in both;
    animation: slide-out-elliptic-left-bck .7s ease-in both
}

@-webkit-keyframes slide-out-elliptic-left-bck {
    0% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 2000px 50%;
        transform-origin: 2000px 50%;
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
        transform: translateX(-1000px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 1
    }
}

@keyframes slide-out-elliptic-left-bck {
    0% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 2000px 50%;
        transform-origin: 2000px 50%;
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
        transform: translateX(-1000px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 1
    }
}

@keyframes color-change-2x {
    0% {
        background: #19dcea
    }
    100% {
        background: #b22cff
    }
}